@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    
    border-sizing: border-box;
}

body, section , div , header , footer , main, aside, nav , blockquote, p , span{
    margin: 0; 
    padding: 0; 
}

body{ 
font-family: "Manrope", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container-header{
    padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 900px;

    display: grid; 
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
    padding-bottom: 1rem ;
    padding-top: 1rem;

    


}

.sign-up{ 
    height : 36px; 
    width: 140px; 
   
    background-color:#6366F1;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
    
}







.container-footer{

  
 
  position: absolute;
  top: 5935px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blueviolet;
  

  width: 100%;
  height: 130px;


}


.wrapper-page1{
  padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 900px;
    height: 780px;
    border: 2px solid blue;


}

.container-page1{
  position: absolute;
  top: 150px; 
  width: 525px;
  height: 328px;
  border: 2px solid blueviolet ;


}

.header-page1{
 font-size: 24px;
 padding-bottom: 1rem;

}

.btn-page1{
  display: flex;
  align-items: center;
  gap: 1rem;

}


/*
.container-page1{

}

.image-apple{

}

.wrapper-page1 .container-page1 .image-play-store{

  width: 180px;
  height: 52;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B0F19;
  border-radius: 8px;

  color: white;
  


}


.wrapper-page1 .container-page1 .display-block1{
  display: block;
}

.wrapper-page1 .container-page1 .display-block2{
  display: block;
}
*/






