@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    
    border-sizing: border-box;
}

body, section , div , header , footer , main, aside, nav , blockquote, p , span{
    margin: 0; 
    padding: 0; 
}

body{ 
font-family: "Manrope", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container-header{
    padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 1320px;

    display: grid; 
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
    padding-bottom: 1rem ;
    padding-top: 1rem;

    


}

/*  utillity class margin between line*/
.margine-line{
  margin-bottom: 1rem;
}

.sign-up{ 
    height : 36px; 
    width: 140px; 
   
    background-color:#6366F1;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
    
}







.container-footer{

  
 
  position: absolute;
  top: 5935px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blueviolet;
  

  width: 100%;
  height: 130px;


}


.wrapper-page1{
  padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 1320px;
    height: 780px;
    border: 2px solid blue;


}

.container-page1{
  position: absolute;
  top: 240px; 
  width: 525px;
  height: 328px;
  border: 2px solid blueviolet ;

  


}

.header-page1{
 font-size: 24px;
 padding-bottom: 0.1rem;

}

.btn-page1{
  display: flex;
  align-items: center;
  gap: 1rem;

}

.content-page1{
  padding-bottom: 3.5rem;
}
.iphone-container{

  position: relative;

  width: 750px;

  height: 875px;
  
  
}
.iPhone-12{
  position: absolute;
  left: 970px;
  top:90px;
  z-index: 1000;
}

.iPhone-back{

  position: absolute;
  left:800px;
  top:225px;
  z-index: 0;


}

.box-vector{
  height: 45px;
  width: 45px;
  border: 2px solid blue;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6366F1;
  border-radius: 50%;
}

.big-box-vector{
display: flex;
justify-content: center;
align-items: center;
  
width: 152px;
height: 45px;
border: 2px solid blueviolet;

position: absolute;

top: 500px;


}


.wrapper-page2{
  padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 1320px;
    height: 1100px;
    border: 2px solid blue;
    
}

.page-2-logo{
  width: 1296px;
  height: 100px;
  border: 2px solid blue;
  margin-top: 90px ;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.box-logo-page2{
  width: 196px;
  height: 100px;
  border-radius: 8px;
  border: 2px solid #B4B7C9;

  display: flex;
  align-items: center;
  justify-content: center;
  
  

  
}


.container-content-page2{
  width: 1296px;
  height: 684px;
  border: 2px solid blue;
  margin-top: 6.7rem;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  gap: 9.5rem;
   

}

.inside-content-page2{
  width: 746px;
  height: 640px;
  border: 2px solid blue;
  margin-bottom: 3rem;

}

.headline-inside-content-page2{
  width:259px ;
  height: 52px;
  font-size: 25px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.contnet-inside-content-page2{
  border: 2px solid blue;
}

.picture-inside-content-page2{
  width:727px ;
  height: 450px;
  border: 2px solid blue;
  margin-top: 2rem;
  display: grid;
  grid-template-columns:  1fr 1fr;
}

.box1-page2,  .box2-page2,  .box3-page2,  .box4-page2,  .box5-page2, .box6-page2 {
  width:345px ;
  height: 118px;
  border: 2px solid blue;
  display: grid;
  grid-template-columns:  20% 80%;
}

.image-framge-page2{
  width:60px ;
  height: 60px;
  border: 2px solid #6366F1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box-page2{
  
  width:261px ;
  height: 118px;
  border: 2px solid #6366F1;
  display: grid;
  grid-template-rows: 2fr 8fr;
  align-items: center;
  justify-content: center;
  

}

.headline-box-contnet-page2{
  width:auto;
  height: 40px;
  border: 2px solid #6366F1;
   display: flex;
  align-items: center;
  

}


.wrapper-page3{
  padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 1320px;
    height: 1100px;
    border: 2px solid blue;
}

.headline-page3{
  width:680px ;
  height: 58px;
  border: 2px solid blue;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-top: 4em;
  margin-bottom: 3rem;
}

.picture-page3{
  width:1184px ;
  height: 663px;
  border: 2px solid blue;

  margin-left: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.1rem;
  
}

.footer-page3{
  width:636px ;
  height: 98px;
  border: 2px solid blue;
  margin-left: 380px;
  margin-top: 47px;

 
}

.headline-footer-page3{
  width:100% ;
  height: 35px;
  border: 2px solid blue;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6rem;

}

.content-footer-page3{
  width:630px ;
  height: 46px;
  border: 2px solid blue;

}

.wrapper-page4{
    padding-inline: 3rem;
    margin: 0 auto; 
    max-width: 1320px;
    height: 1297px;
    border: 2px solid blue;
    
     display: flex;
     align-items: center;
     justify-content: center;
  }


  .container-image-content-page-4{
    width:1076px ;
  height: 1080px;
  border: 2px solid blue;


  }

  .page4-part-top{
  width:1076px ;
  height: 500px;
  border: 2px solid blue;

  margin-bottom: 4.5rem;

   }

   .page4-part-top-left-contianer{

    width:416px ;
  height: 302px;
  border: 2px solid blue;

  margin-top: 5.8rem;

   }

   .headline-page4-part-top{

    width:416px ;
    height: 84px;
    border: 2px solid blue;
    font-size: 16px;
    font-weight: 800;




   }

   .page4-button{
    width: 159px;
    height: 44px;
    border-radius: 8px;
    background-color: #6366F1 ;
    color: white;
  

    margin-top: 2.4rem;

   }



  .page4-part-bottom{
  width:1076px ;
  height: 500px;
  border: 2px solid blue;

  }



/*
.container-page1{

}

.image-apple{

}

.wrapper-page1 .container-page1 .image-play-store{

  width: 180px;
  height: 52;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #0B0F19;
  border-radius: 8px;

  color: white;
  


}


.wrapper-page1 .container-page1 .display-block1{
  display: block;
}

.wrapper-page1 .container-page1 .display-block2{
  display: block;
}
*/






